.main-table {
  width: 100%;
}

table,
th,
td {
  border: 3px solid black;
}

th,
td {
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: white;
}

.last-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.4px solid black;
}

.filter {
  cursor: pointer;
}

.select-container {
  width: 20px;
  outline: none;
  font-family: "Be Vietnam Pro", sans-serif;
}
